<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="OrderAssistantUI"/>
  </extensions>

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="log"
            xsi:type="File"
            layout="${longdate}|${level}| ${message}"
            deleteOldFileOnStartup="False"
            concurrentWrites="true"
            KeepFileOpen ="False"
            fileName="${basedir}/log.txt"/>
    <target xsi:type="UiLog" 
            name="UiLog"
            layout="${time}|${level}| ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="log" />
    <logger name="*" minlevel="Info" writeTo="UiLog" />
  </rules>
</nlog>


